{
	"plugins": [
		[
			"lodash",
			"syntax-dynamic-import"
		]
	],
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": [
						"Chrome >= 60",
						"Safari >= 10.1",
						"iOS >= 10.3",
						"Firefox >= 54",
						"Edge >= 15"
						/*
						Legacy support:

						"last 2 versions",
						"> 5%",
						"ie 11"
						*/
					]
				},
				"modules": false,
				"loose": true
			}
		],
	]
}