@font-face {
	font-family: "LibreFranklin-Regular";
	src: local("LibreFranklin-Regular"), url("../fonts/LibreFranklin-Regular.woff2") format("woff2"), url("../fonts/LibreFranklin-Regular.woff") format("woff");
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}